.maindiv {
    text-align: center;
    font-family: "TT Commons Regular", Helvetica, Arial, Lucida, sans-serif;
}
#calculatorForm {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
}
#calcTitle {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.innerDiv {
    padding: 0.5rem 1rem;
}
.calcDesrciption {
    font-style: italic;
    font-size: 80%;
    text-align: left;
    padding-left: 1rem;
}
#mathStrLabel {
    vertical-align: top;
}
#mathStrButton {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
#errorPanelDiv {
    color: red;
    text-align: left;
}